<!DOCTYPE html>
<html>
<head>

  <!-- Meta Data -->
    <meta charset="utf-8" />

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}" />
    <meta name="keywords" content="{{page.meta-keywords}}" />

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.meta-description}}" />
    <meta property="og:image" content="{{page.featured-image_path}}" />
    <meta property="og:url" content="{{page.url}}" />
    <meta name="twitter:card" content="{{page.meta-description}}" />
    <meta name="og:site_name" content="<!-- ADD SITE NAME HERE -->" />

  <!-- end of meta tags -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700,900&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet" />

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />

    <!-- Font Awesome Version 5 for Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

    <!-- Magnific Popup for lightbox galleries   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

    <!-- Stylesheets STYLE & CUSTOM-->
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/custom.css" />

    <!-- FAVICON / SITE ICON-->
    <link rel="shortcut icon" type="image/png" href="/images/siteicon.png" />

</head>

<body>
<!-- HEADER NAV -->

<!-- LOGO DESKTOP NAV-->
  <header class="grid-middle-center fixed-header  ">
  <div class="col-2_sm-3_xs-5-center xs-mob-hide centered padded-sides">
    <a href="/" class="editable">
      <img width="70%" src="/images/logo.png" alt="Accentus Solutions Logo" />
    </a>
  </div>

<!-- LOGO MOBILE NAV -->
  <div class="col_sm-4_xs-4-left xs-mob-show left padded-sides">
    <a href="/" class="editable">
      <img width="70%" src="/images/logo.png" alt="Accentus Solutions Logo" />
    </a>
  </div>

  <div class="col_xs-8 mob-show">
  </div>

<!-- DESKTOP NAV -->
  <nav class="col-8_sm-6-center xs-mob-hide centered">
    <a href="/" class="editable padded-2"> Home </a>
     <span class="dropdown-nav">
    <a href="services" class="editable padded-2"> Services </a>
    <div class="dropdown-content">
          <a href="services#medical" class="editable">Medical</a>
          <a href="services#commercial" class="editable">Commerical</a>
          <a href="services#floors" class="editable">Floors</a>
          <a href="services#laundry" class="editable">Laundry</a>
      </div>
    </span>
    <a href="about" class="padded-2 editable"> About </a>
    <a href="contact" class="padded-2 editable"> Contact </a>
  </nav>

  <nav class="col-2_sm-3_xs-6-center-middle xs-mob-hide padded-sides center centered">
    <a href="mailto:info@accentussolutions.com" class="editable">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="tel:3177214169" class="editable">
      <i class="fas fa-phone"></i>
    </a>
    <h5 class="light-text editable">Get a Quote</h5>
  </nav>
</header>

<!-- MOBILE NAV -->
<nav class="col-center xs-mob-show ">
    <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>

     <div class="burger-menu centered">
      <ul>
        <li>
          <a href="/" class="editable">Home</a>
        </li>
        <li>
          <a href="services" class="editable">Services</a>
        </li>
        <li>
          <a href="about" class="on-page editable">About</a>
        </li>

      <li>
        <a href="contact" class="on-page editable">Contact</a>
      </li>

      <div class="center inline centered">
        <a href="mailto:info@accentussolutions.com" class="editable inline">
          <i class="fas fa-envelope"></i>
        </a>

        <a href="tel:3177214169" class="editable inline">
          <i class="fas fa-phone"></i>
        </a>

        <h5 class="light-text editable">
          Get a Quote
        </h5>
      </div>

      <ul>
    </ul></ul></div>
  </nav>

<section class="bump-for-header">
  </section>


    {{content}}

<footer class="grid padded">

  <!-- CENTERED SOCIALS -->
  <div class="col-12_sm-12-middle  centered">
    <nav class="inline socials">
      <a href="https://www.facebook.com/AccentusSolutionsLLC/" target="_blank" class="editable">
        <i class="fab fa-facebook-square icons-dk"></i>
      </a>
      <a href="https://www.linkedin.com/in/accentus-solutions-8b579a1a8/" target="_blank" class="editable">
        <i class="fab fa-linkedin icons-dk"></i>
      </a>
    </nav>
  </div>
</footer>

    <!-- adds jQuery library to your site -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <!-- adds Magnific Popups javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

    <!-- this is your custom javascript/jQuery file -->
    <script src="/assets/main.js"></script>

</body>
</html>
